@import "partials/vars";
@import "../../node_modules/normalize.css/normalize";
@import "partials/html5bp";
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon";
@import "../../node_modules/bourbon-neat/app/assets/stylesheets/_neat";
@import "partials/custom_fonts";

body {
    font-family: 'Open Sans', sans-serif;
    background: $color-almost-white;
    color: $color-mostly-grey;
    line-height: 1.8;
}

a {
    color: $color-secondary;

    &.reverse {
        color: $color-almost-white;
    }
}

.btn {
    text-decoration: none;
    background: $color-secondary;
    color: $color-almost-white;
    border-radius: 5px;
    border: 2px solid $color-secondary;
    transition: .25s all;
    font-weight: bold;
    display: inline-block;
    margin: 2rem 1rem 2rem 0;
    text-align: center;

    &:hover {
        background: none;
        border-color: $color-secondary;
        color: $color-almost-white;
    }

    &.btn--lrg {
        padding: 1rem 2rem;
    }

    &.btn--outline {
        background: none;
        border-color: $color-almost-white;

        &:hover {
            background: $color-mostly-grey;
            border-color: $color-almost-white;
            color: $color-almost-white;
        }
    }
}

.container {
    @include outer-container;
    width: 90%;
    max-width: 62.5rem;
}

%unlist {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

.branding {
    max-width: 15rem;
    margin: 2rem auto;
    display: block;
    .logo-ring {
        stroke: $color-primary;
        stroke-width: 32;
    }
    .logo-b, .logo-text {
        fill: $color-primary;
    }
}

%background-darken {
    color: $color-almost-white;
    background: url(../images/bg-dark.png) left top repeat darken($color-primary, 1%);
}

.container > h2 {
    margin-top: 0;
}

.welcome, .features, .capabilities, .get-started {
    padding: 3rem 0;
}

.welcome, .capabilities {
    @extend %background-darken;
}

.welcome {
    @extend %background-darken;

    @media all and (min-width: 60rem) {
        .container {
            display: flex;
        }
    }
}

.intro, .download {
    @media all and (min-width: 60rem) {
        @include span-columns(6);
    }
}

.download {
    @media all and (min-width: 60rem) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn{
        display: block;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        @media all and (min-width: 60rem) {
            max-width: 75%;
            margin: 0 0 2rem 0;
        }
    }
}

.feature-block--half {
    @media all and (min-width: 60rem) {
        @include span-columns(6);
    }
}

code{
    background: lighten($color-mostly-grey, 10%);
    color: $color-almost-white;
    padding: .1rem .5rem;

    border-radius: 2px;
}

.features {
    background: $color-almost-white;
    color: $color-mostly-grey;

    ul{
        @extend %unlist;

        @media all and (min-width: 40.3125rem) {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }


        a{
            padding: .5rem 0;
            border-bottom: 1px solid lighten($color-mostly-grey, 40%);
            display: block;
            transition: .25s background;

            &:hover {
                background: lighten($color-mostly-grey, 60%);
                text-decoration: none;
            }

            @media all and (min-width: 40.3125rem) {
                border: none;
                padding: 2rem 1rem 2rem;
                text-align: center;
            }
        }

        img{
            width: 100%;
            max-width: 6.25rem;
            padding: 1rem .5rem;

            @media all and (min-width: 40.3125rem) {
                max-width: 7.8125rem;
                padding-bottom: 1rem;
            }
        }

        .feature-title {
            @media all and (min-width: 40.3125rem) {
                display: block;
            }
        }

    }
}

footer{
    @extend %background-darken;
    padding: 1rem 0 3rem;
}

@import "partials/print";
